* {
  font-family: Raleway, Roboto+Mono;

}

header {
  background-color: #27272c;
}
body{
  background-color: #fafcfe;
}
h1{
  color: #ccc;
}
h2{
  color: #2b373f;
}
h4{
  color: #2a2f36;
}
p{
  color: #000;
}

.nombre-m {
  color: #ccc;
}

.nombre-m:hover {
  color: var(--clr);
  letter-spacing: 0.2rem;
  animation: texto 3s infinite;
}

#icono-principal {
  color: #ccc;
}

/* color de palabras de menu */
.nav-item a {
  color: #ccc;
}

.nav-item a:hover {
  color: #39594d;
  
}

/* color para boton perfil */
#boton-perfil {
  background-color: #2b373f;
  /* background-color: #31325c; */
}

#boton-perfil:hover {
  background-color: #39594D;
}

#app {
  color: #39594d;
  font-family: "Roboto Mono";
}

.boton-cv {
  background-color: #2b373f;
  color: rgb(204, 203, 206);
}

.boton-cv:hover{
  background-color: #27272c;
  color: rgb(204, 203, 206);
}

.boton-cv a {
  color: #ccc;
}

#habilidades {
  color: #39594d;
} 

.btn-proyecto {
  background-color: #2b373f;
}

.btn-proyecto a {
  text-decoration: none;
  color: #ccc;
}
/* .card-testimonio{
  background-color: #2b3f47;
} */
.card .card-title {
  color: #39594d;
  /* font-family: "Roboto Mono"; */
  font-weight: bold;
}

.texto {
  text-align: justify;
}

#contacto {
  background-color: #2b373f;
  color: #39594D;
}

#contacto p {
  color: #ccc;
}

#btn-contacto {
  background-color: #39594D;
  color: antiquewhite;
}

#btn-contacto:hover {
  background-color: #27272c;
}

footer li a i {
  color: #39594D;
}

footer p {
  color: #39594D;
}

footer p a {
  text-decoration: none;
  color: #2b3f47;
  font-weight: bold;
}


/* @keyframes box {
  0% {
    box-shadow: #27272c;
  }

  50% {
    box-shadow: 0 0 25px #2c2d44;
  }

  100% {
    box-shadow: #27272c;
  }
} */

@keyframes texto {
  0% {
    text-shadow: #27272c;
  }

  50% {
    text-shadow: 0 0 25px var(--clr);
  }

  100% {
    text-shadow: #27272c;
  }
}